
    <header>
      <div class="my-nav">
          <div class="container">
              <div class="row">
                  <div class="nav-items">
                      <div class="menu-toggle"></div>
                      <div class="logo">
                          <img class="hide-scrol" src="assets/images/logof.png"[width]="200" height="200">
                          <img class="fixed-scrol" src="assets/images/logof.png"[width]="75" height="75">
                      </div>
                      <div class="menu-items">
                          <div class="menu">
                              <ul>
                                  <li><a href="/home">Acceuil</a></li>
                                  <li><a href="/nformateur">Notre equipe</a></li>
                                  <li><a href="/nformation">Nos Formations </a></li>
                                  <li><a href="/contact">A Propos </a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
