<app-headh></app-headh>

    <section class="abt-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="seting">
                        <h3>Nos Formateurs</h3>
                        <ol>
                            <li>Acceuil <i class="fas fa-chevron-double-right"></i></li>
                            <li>Nos Formateurs</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-team></app-team>



    <!-- ================**Footer**================ -->
<app-footerh></app-footerh>

