#root {
    --color-event-background: #418dc0;
    --color-event-text: #ffffff;
}

.draggable-container {
    width: 22%;
    padding: 0px 5px;
}

.draggable-header {
    border: 1px solid #ccc;
    padding: 5px;
    background: #f0f0f0;
    margin-bottom: 15px;
}

.draggable-item {
    border-radius: 20px;
    background: var(--color-event-background);
    color: var(--color-event-text);
    padding-left: 10px;
    border: 0px;

    height: auto;
    display: flex;
    align-items: center;

    cursor: move;
    margin-bottom: 5px;
}


.draggable-source {
    opacity: 1;
}


#root .event_inner {
    border-radius: 10px;
    background: var(--color-event-background);
    color: var(--color-event-text);
    padding-left: 10px;
    border: 0px;
}
