<section class="bg-02">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
              <div class="cal-box">
             <p>  TECHNOLOGIA ACADEMY est une entreprise privée tunisienne située  à technopole Manouba, La Manouba, Tunisie.
C’est une startup de formation professionnelle qui offre une variété des  cours dans les domaines de programmation et de marketing digital. La startup a été fondée en 2018 par Mr. Med Amine Hlali un expert en  développement Informatique avec cinq ans d'expérience et un formateur  avec trois ans d’expérience.
L’idée de l’entreprise est le développement d’une plateforme  d’apprentissage en ligne tout en offrent une expérience exceptionnelle  aux utilisateurs.
La plateforme Technologia academy était développée par le CEO de  startup Mr. Med Amine Hlali.
Elle offre à ses clients l’occasion à apprendre les langages de  programmation et le marketing digitale avec des cours riches (cours  vidéo, cours écrit et même des tests avec autocorr
</p>

                        <ol>
                            <li>
                                <div class="_lk_bg_cd">
                                    <div class="counting">{{formation.length}}</div>
                                    <h5>Formation</h5>
                                </div>
                            </li>

                            <li>
                                <div class="_lk_bg_cd">
                                    <div class="counting" >{{etudiant.length}}</div>
                                    <h5>Etudiant</h5>
                                </div>
                            </li>

                            <li>
                                <div class="_lk_bg_cd">
                                    <div class="counting" >{{formateur.length}}</div>
                                    <h5>Formateur</h5>
                                </div>
                            </li>

                            <li>
                                <div class="_lk_bg_cd">
                                    <div class="counting" >{{emploi.length}}</div>
                                    <h5>Emploi</h5>
                                </div>
                            </li>
                        </ol>
              </div>
          </div>

          <div class="col-lg-6 col-md-6 col-12">
            <div class="cal-box">
                <img src="assets/images/slider/2.png">
            </div>
          </div>
      </div>
  </div>
</section>
