<div class="container-fluid">

  <!-- start page title -->
  <div class="row">
      <div class="col-12">
          <div class="page-title-box">

              <h4 class="page-title">Profile</h4>
          </div>
      </div>
  </div>
  <!-- end page title -->

  <div class="row">
      <div class="col-xl-4 col-lg-5">
          <div class="card text-center">
              <div class="card-body">
                  <img [src]="endpoint.url+'getimageadmin/' + admin.image" class="rounded-circle avatar-lg img-thumbnail"
                  alt="profile-image">

                  <h4 class="mb-0 mt-2"> {{ admin.name + ' ' + admin.lastname }} </h4>




                  <div class="text-start mt-3">
                      <h4 class="font-13 text-uppercase">About Me :</h4>

                      <p class="text-muted mb-2 font-13"><strong>NOM :</strong> <span class="ms-2">{{admin.name}}</span></p>
                      <p class="text-muted mb-2 font-13"><strong>PRENOM :</strong> <span class="ms-2">{{admin.lastname}}</span></p>
                     

                      <p class="text-muted mb-2 font-13"><strong>E-mail :</strong> <span class="ms-2 ">{{admin.email}}</span></p>


                  </div>

                  <ul class="social-list list-inline mt-3 mb-0">
                      <li class="list-inline-item">
                          <a href="" class="social-list-item border-primary text-primary"><i
                                  class="mdi mdi-facebook"><a href=></a></i></a>
                      </li>
                      <li class="list-inline-item">
                          <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                                  class="mdi mdi-google"></i></a>
                      </li>
                      <li class="list-inline-item">
                          <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                                  class="mdi mdi-twitter"></i></a>
                      </li>
                      <li class="list-inline-item">
                          <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                                  class="mdi mdi-github"></i></a>
                      </li>
                  </ul>
              </div> <!-- end card-body -->
          </div> <!-- end card -->



      </div> <!-- end col-->

      <div class="col-xl-8 col-lg-7">
          <div class="card">
              <div class="card-body">
                  <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">


                      <li class="nav-item">
                          <a href="#settings" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                              Settings
                          </a>
                      </li>
                  </ul>
                  <div class="tab-content">



                      <div class="tab-pane active"  id="settings">

                              <h5 class="mb-4 text-uppercase"><i class="mdi mdi-account-circle me-1"></i> Les informations personnelles</h5>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="mb-3">
                                          <label for="firstname" class="form-label">Nom</label>
                                          <input type="text"  [(ngModel)]="admin.name"   class="form-control" id="firstname" placeholder="Enter first name">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="mb-3">
                                          <label for="lastname" class="form-label">Prenom</label>
                                          <input type="text" [(ngModel)]="admin.lastname"  class="form-control" id="lastname" placeholder="Enter last name">
                                      </div>
                                  </div> <!-- end col -->
                              </div> <!-- end row -->





                                  <div class="row">
                                  <div class="col-md-6">
                                      <div class="mb-3">
                                          <label class="form-label">Email </label>
                                          <input type="email" class="form-control" [(ngModel)]="admin.email" placeholder="Enter email">

                                      </div>
                                  </div>

                              </div> <!-- end row -->

                                  <div class="col-md-6">
                                      <div class="mb-3">
                                          <label for="cwebsite" class="form-label">Image</label>
                                          <input type="file"(change)="selectedimage($event)"class="form-control" placeholder="image">
                                      </div>
                                  </div> <!-- end col -->
                              </div> <!-- end row -->




                              <div class="text-end">
                                  <button type="submit" (click)="update()" class="btn btn-success mt-2"><i class="mdi mdi-content-save"></i> Save</button>
                              </div>

                      </div>


