<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <div class="_kl_ds_we">
                  <div class="head-footer">
                      <img src="assets/images/logof.png"[width]="100" height="100" >
                      <p> Avec plusieurs ressources, Technologia Academy propose aujourd’hui le catalogue de formations en Tunisie dans le domaine de IT .</p>
                      <ol>
                          <li><i class="fab fa-facebook-square"></i></li>
                          <li><i class="fab fa-instagram"></i></li>
                          <li><i class="fab fa-twitter-square"></i></li>
                          <li><i class="fab fa-linkedin"></i></li>
                      </ol>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <div class="_kl_ds_we">

              </div>
          </div>



          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <div class="_kl_ds_we">
                  <div class="head-footer">
                      <h3>NOUS REJOINDRE</h3>
                      <ul class="un-hover">
                          <li><i class="far fa-location"></i>Manouba</li>
                          <li><i class="fas fa-mobile-alt"></i>+216 54547576</li>
                          <li><i class="far fa-envelope"></i>career@technologia.academey</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-12">
              <div class="row _pl_we_sq">
                  <div class="col-12">
                      <div class="last-01">
                        <script>document.write(new Date().getFullYear())</script> © Technologia Acadmey
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
