<section class="banner">
      <div class="banner-wrapper-main"></div>
      <div class="container">
          <div class="row">
              <div class="slider-wrapper">
                  <div class="box-01">
                      <div class="content">
                        <br>
                        <br>
                        <br>
                        <br>


                          <h1>Technologia Academy </h1>
                          <p>Technologia Academy est une plateforme de cours vidéo en ligne sur les compétences pro (webmarketing, coding, excel, soft skills) , Avec plusieurs ressources, Technologia Academy propose aujourd’hui le catalogue de formations en Tunisie dans le domaine de IT .</p>
                          <div class="btn-001">
                              <ul>
                                  <li><a href="/login">Se connecter</a></li>

                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="box-01">
                      <div class="slider-image">
                          <img src="assets/images/slider/1.png">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
