<!-- Begin page -->
<div class="wrapper">
  <!-- ========== Left Sidebar Start ========== -->
  <div class="leftside-menu">
      <app-sidebar1></app-sidebar1>
  </div>

  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  <div class="content-page">
    <div class="content">
        <app-header1></app-header1>

      <!-- end Topbar -->

      <!-- Start Content-->
      <div class="container-fluid">
        <!-- start page title -->
        <router-outlet></router-outlet>
      <!-- container -->
    </div>
    <!-- content -->
  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->
</div>
<!-- END wrapper -->
<app-footer></app-footer>




