<div class="container">
    <div  style="display: flex; justify-content: space-between;margin: 32px 24px;">

        <h2>Liste des étudiants</h2>
        <button class="btn btn-primary col-2" routerLink="/dashboard/ajoutetudiant">Ajouter</button>
    </div>


</div>

<div class="d-lg-flex col-2 ">
  <div class="app-search  ">
      <div>
          <div class="mb-2 position-relative">
              <input type="text" class="form-control" placeholder="Search files..." [(ngModel)]="filterTerm">
              <span class="mdi mdi-magnify search-icon"></span>
          </div>
      </div>
  </div>

</div>


<table class="table table-striped table-centered">
    <thead>
        <tr>
            <th> Nom</th>
            <th>Prénom</th>
            <th>Spécialite</th>
            <th>Télephone</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of etudiant | filter: filterTerm">
            <td class="table-user" >
                <img [src]="endpoint.url+'getimageetudiant/'+ item.image"  alt="table-user" class="me-2 rounded-circle" />
                {{item.name}}
            </td>
            <td>{{item.lastname}}</td>
            <td>{{item.specialite}}</td>
            <td>{{item.tel}}</td>
            <td class="table-action">
            <i [routerLink]="['/dashboard/updateetudiant' , item._id ]" class="mdi mdi-pencil action-icon"></i>

              <i (click)="delete(item._id)" class="mdi mdi-delete action-icon" ></i>

                <i [routerLink]="['/dashboard/profiletudiant' , item._id ]"  class="mdi mdi-account action-icon" ></i>

            </td>
        </tr>






    </tbody>
</table>
