

<!-- ======================header started====================== -->

<app-headh></app-headh>
    <!-- ================**Banner Section**================ -->

    <!-- ================**Category Section**================ -->

<app-cover></app-cover>

  <!-- ================**calculation Section**================ -->
  <app-stat></app-stat>


  <!-- ================**Team Section**================ -->
<app-team></app-team>

    <!-- ================**Blog Section**================ -->

   <app-blog></app-blog>

    <!-- ================**Footer**================ -->
    <app-footerh></app-footerh>


