  <!-- LOGO -->
  <a href="index.html" class="logo text-center logo-light">
    <span class="logo-lg">
      <img src="assets/images/logoa.png" alt="" height="150" width="200">
    </span>
    <span class="logo-sm">
      <img src="assets/images/logob.png" alt="" >
    </span>
</a>


<!-- LOGO -->
<a href="index.html" class="logo text-center logo-dark">
    <span class="logo-lg">
        <img src="assets/images/logo-dark.png" alt="" height="16">
    </span>
    <span class="logo-sm">
        <img src="assets/images/logo_sm_dark.png" alt="" height="16">
    </span>
</a>
<br>
<br>
<br>
<br>
<br>

<div class="h-100" id="leftside-menu-container" data-simplebar>

    <!--- Sidemenu -->
    <ul class="side-nav">



        <li class="side-nav-item">
            <a data-bs-toggle="collapse" [routerLink]="['/dashboardformateur/Agendaform']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class="uil-schedule"></i>
                <span class="badge bg-success float-end"></span>
                <span  > Agenda </span>
            </a>
            <a data-bs-toggle="collapse" [routerLink]="['/dashboardformateur/question']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class="uil-comment-alt-dots"></i>
                <span class="badge bg-success float-end"></span>
                <span  > Q&A </span>
            </a>
            <a data-bs-toggle="collapse" [routerLink]="['/dashboardformateur/formationf']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
              <i class="uil-bag-alt"></i>
              <span class="badge bg-success float-end"></span>
              <span  > Formations </span>
          </a>
            <a data-bs-toggle="collapse" [routerLink]="['/dashboardformateur/listdepot']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class=" uil-file-check-alt"></i>
                <span class="badge bg-success float-end"></span>
                <span  > Les comptes rendus </span>
            </a>


        </li>





    </ul>


    <!-- End Sidebar -->

    <div class="clearfix"></div>

</div>
<!-- Sidebar -left -->
